
/*----------------------------------------------------
FOR MD DEVICE 
 -------------------------------------------------------*/
@media (max-width: 1200px)
{
    /*header section*/ 
    header.site-header
    {
        nav.main-navigation 
        {
            .menu-primary-menu-container 
            {
                ul.menu
                {
                    > li
                    {
                        > a
                        {
                            padding: 35px 12px;
                            font-size: 15px;
                        }
                    }
                    li.more-nav 
                    {
                        ul
                        {
                            top: 60px;
                        }
                    }
                    li.more-nav
                    {
                        &:before
                            {
                            top: 7px;
                        }
                    }
                } 
            }
        }
    }/* header section*/


    /*search banner section n intro section*/
    .search-banner-section-n-intro-section 
    {
        .search-banner-section 
        {
            .search-section 
            {
                .search-by-categories 
                {
                    .brb-search-cat-form 
                    {
                        input[type="search"]
                        {
                            width: 430px;
                        }
                    }
                }
            }
            .browse-categories
            {
                h3
                {
                    font-size: 16px;
                }
                ul
                {
                    li
                    {
                        a
                        {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .newsletter-n-social-links 
        {
            .brb-newsletter
            {
                .wpcf7 
                {
                    form
                    {
                        p 
                        {
                            input[type="email"]
                            {
                                width:180px;
                            }
                        }
                    }
                }
            }
        }
    }/* /search banner section and introduction section*/


    /*feature books wrapper*/
    .featured-books-wrapper 
    {
        background-position: -10px 32px;
        .feature-slider-wrapper-section 
        {
            #pre
            {
                left: initial;
                right: 65px;
            }
            #next
            {
                right: 15px;
            }
            .button
            {
                top: 10px;
            }
        }
    }

    .browse-categories.inner
    {
        h3
        {
            font-size: 17px;
        }
        ul
        {
            li
            {
                a
                {
                    font-size: 14px;
                }
            }
        }
    }

}//media query for md end

/*for only menu*/
@media (max-width:2500px)and(min-width: 992px)
{

    /*for large device menu section*/
    header.site-header
    {
        nav.main-navigation
        {
            .menu-primary-menu-container
            {
                ul.menu
                {
                    > li
                    {
                        position:relative;
                        &:hover 
                            {
                            > ul
                            {
                                display: block;
                            }
                        }
                        > ul
                        {
                            display: none;
                            position:absolute;
                            top:100%;
                            background-color: #2446BF;
                            z-index: 10;
                            width:200px;

                            li
                            {
                                &:hover
                                    {
                                    > ul 
                                    {
                                        display: block;
                                    }
                                }
                                position:relative;
                                a
                                {
                                    display: block;
                                    padding: 7px 10px;
                                    color: #fff;
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
                                }
                                ul
                                {
                                    position:absolute;
                                    left:100%;
                                    top:0px;
                                    background-color:blue;
                                    width:200px;
                                    z-index:10;
                                    display: none;
                                    li
                                    {
                                        background-color:#3D60DC;
                                    }
                                    li:last-child
                                        {
                                        border-bottom:none;
                                    }
                                }
                            }
                            li.menu-item-has-children
                            {
                                position:relative;
                                &:after
                                    {
                                    content: "\f105";
                                    position: absolute;
                                    color: #fff;
                                    right: 8px;
                                    font: normal normal normal 14px/1 FontAwesome;
                                    top: 32%;
                                }
                            }
                            li:last-child
                                {
                                border-bottom:none;
                            }
                        }
                    }
                    > li.menu-item-has-children
                    {
                        &:after
                            {
                            content: "\f107";
                            position: absolute;
                            right: 5px;
                            font: normal normal normal 14px/1 FontAwesome;
                            top: 45%;
                            color: #fff;

                        }
                    }
                    > li.more-nav
                    {
                        &:after
                            {
                            content: "";

                        }
                    }
                }
            }
        }
    } 
}

/*----------------------------------------------------
FOR SM DEVICE 
 -------------------------------------------------------*/
@media (max-width: 992px)
{
    /*Top header section*/
    header.site-header 
    {
        /*logo section*/
        .site-branding 
        {
            .logo-section
            {
                position: initial;
            }
        }/* /logo section */
        /*For navigation section*/
        nav.main-navigation 
        {
            position:relative;

            button.menu-toggle
            {
                display: block;
                float: right;
                color: #fff;
                background-color: transparent;
                border: none;
                font-size: 32px;
                margin-top: 25px;
                &:focus
                    {
                    outline: none;
                }
            }

            .menu-primary-menu-container 
            {
                position: absolute;
                right: 0;
                z-index: 15;
                top: 95px;
                display:none;
                ul.menu
                {
                    background: #395AD2;
                    li
                    {
                        float:initial;
                        a
                        {
                            padding: 6px 12px;
                            font-size: 15px;
                            display: block;
                        }
                        ul
                        {
                            background-color:#304EBD;
                            li
                            {
                                color:#fff;
                            }
                        }
                    }
                    li.more-nav
                    {
                        border: none; 
                        margin-top: 0px;
                        margin-left: 0px; 
                        ul
                        {
                            position: initial;
                            width:initial;
                            right:initial;
                            top:initial;
                        }
                    }
                }
            }
        }/* / For navigation section */
    }/* /Top header section */


    /*for menu only*/
    
    /*search banner section and introduction section*/
    .search-banner-section-n-intro-section 
    {
        .search-banner-section 
        {
            .browse-categories
            {
                cursor:pointer;
                h3
                {
                    font-size: 20px;
                    &:before
                        {
                        font-size: 24px;
                    } 
                    &:after
                        {
                        display: none;
                    }
                }
                
                ul#bro-cat
                {
                    display: none;
                    li
                    {
                        a
                        {
                            font-size:16px;
                        }
                        ul
                        {
                            li
                            {
                                a
                                {
                                    font-size:14px;
                                }
                            }
                        }
                    }                
                }
            }
            .search-section
            {
                margin-left: 0px;
                padding: 5px;
                margin-top: 10px;
                .search-by-categories 
                {
                    .brb-search-cat-form 
                    {
                        input[type="search"]
                        {
                            width: 432px;
                        }
                    }
                }
            }
            .banner-section
            {
                margin-left: 0px;
            }
        }

        .newsletter-n-social-links
        {
            .brb-newsletter
            {
                padding:10px;
                border-right: none;
                border-bottom: 1px solid #334DAD;
                -webkit-box-shadow: 0px 1px 0px 0px #0F226B;
                -moz-box-shadow: 0px 1px 0px 0px #0F226B;
                -o-box-shadow: 0px 1px 0px 0px #0F226B;
                box-shadow: 0px 1px 0px 0px #0F226B;

                .wpcf7
                {
                    form 
                    {
                        p 
                        {
                            input[type="email"]
                            {
                                width: 340px;
                            }
                            span.wpcf7-not-valid-tip
                            {
                                margin-bottom: 10px;
                            }
                        }
                        .wpcf7-response-output
                        {
                            display: none !important;
                        }
                    }
                }
            }
            .brb-social-links
            {
                padding:10px;
                > span
                {
                    float:left;
                }
                ul
                {
                    float:left;
                }
            }
        }
    }/* / search banner section and introduction section */



    /*----------------------------------------------------
    INNER PAGE STYLING
    -------------------------------------------------------*/
    /*browse categories*/
    .browse-categories.inner
    {
        .browse-by-categories
        {
            h3
            {
                cursor:pointer;
                &:after
                    {
                    content:"";
                }
            }
        }
    }

}//media query for sm end


/*----------------------------------------------------
FOR XS DEVICE 
 -------------------------------------------------------*/
@media (max-width: 768px)
{
    /*header section*/ 
    header.site-header 
    {
        .site-branding 
        {
            .logo-section
            {
                a
                {
                    display: block;
                    text-align: center;
                    img
                    {
                        width: 201px;
                        height: 86px;
                        display: inline-block;
                    }
                }
            }
        }
        nav.main-navigation
        {
            button.menu-toggle
            {
                margin-top: 17px;
            }
            .menu-primary-menu-container
            {
                top: 86px;
            }
        }
    } /*header section*/ 

    /*slider section*/

    .search-banner-section-n-intro-section 
    {
        .search-banner-section 
        {
            .banner-section
            {
                .carousel
                {
                    .carousel-caption-custom 
                    {
                        padding: 40px 20px 60px !important;


                    }
                }
            }
        }
    }



    /*search banner section and introduction section*/
    .search-banner-section-n-intro-section 
    {
        /*search banner section*/
        .search-banner-section 
        {
            .search-section 
            {
                .search-by-categories 
                {
                    .select-category-search, .brb-search-cat-form
                    {
                        float:initial;
                        select, input[type="search"]
                        {
                            width: 100%;
                        }
                        select
                        {
                            border-right:1px solid #ddd;
                        }
                    }
                    .select-category-search
                    {
                        &:after
                            {
                            right: 10px;
                        }
                        &:before
                            {
                            right: 5px;
                        }
                    }
                    .brb-search-cat-form
                    {
                        input[type="search"]
                        {
                            margin: 5px 0px;
                        }
                    }
                }
            }


            .banner-section 
            {
                .carousel 
                {

                    .carousel-control
                    {
                        display: none;
                    }
                    .carousel-inner 
                    {
                        .carousel-caption-custom 
                        {
                            padding:40px 20px 60px !important;

                            /*production description section*/
                            .production-description 
                            {
                                margin-bottom:30px;
                                .book-title
                                {
                                    font-size: 24px !important;
                                }
                            }

                            /*banner image section*/
                            .banner-img-sec
                            {
                                img
                                {
                                    max-width:100%;
                                }
                            }
                        }
                    }
                }
            }
        }/* / search banner section */


        /*newsletter and social links section*/
        .newsletter-n-social-links
        {
            .brb-newsletter
            {
                h3
                {
                    margin-bottom: 15px;
                }
                .wpcf7
                {
                    float: initial;
                    form 
                    {
                        p 
                        {
                            float: inherit;
                            display: block;

                            input[type="email"]
                            {
                                margin:5px 0px;
                            }
                            input[type="email"], input[type="submit"]
                            {
                                width:100%;
                            }

                        }
                    }
                }
            }
        } /* /newsletter and social links section */

        /*about us section*/
        .about-us-section 
        {
            .about-description
            {
                .about-title
                {
                    margin-top: 45px;
                    margin-bottom: 27px;
                    font-size: 35px;
                }
            }
        }/* / about us section */
    }

    footer#colophon
    {
        .phone-no-n-email-address
        {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #272727;
            -webkit-box-shadow: 0px 1px 0px 0px #000000;
            -moz-box-shadow: 0px 1px 0px 0px #000000;
            -o-box-shadow: 0px 1px 0px 0px #000000;
            box-shadow: 0px 1px 0px 0px #000000;
            margin-bottom: 10px;
        }
        .site-info
        {
            float: none;
            display: block;
            text-align: center;
        }
    }


}//media query for xs end


/*----------------------------------------------------
FOR MOBILE DEVICE 
 -------------------------------------------------------*/
@media (max-width: 480px)
{
    .col-xs-6
    {
        width: 100%;
    }
    .col-xs-8, .col-xs-4, .col-xs-7 , .col-xs-5
    {
        width: 100%;
    }

    /*slider section*/
    .carousel-caption-custom 
    {

        /*production description section*/
        .production-description 
        {
            text-align: center;
            .book-title
            {
                font-size: 20px !important;
            }
        }

        /*banner image section*/
        .banner-img-sec
        {
            text-align: center;
            img
            {
                max-width:100%;
            }
        }
    }
    /*header section*/
    header.site-header
    {
        .site-branding
        {
            .logo-section, .logo-section.wt-shadow
            {
                margin-top: 15px;
                padding: 9px 0px;
                -webkit-box-shadow:none;
                -moz-box-shadow:none;
                -o-box-shadow:none;
                box-shadow:none;
            }
        }
        nav.main-navigation
        {
            button.menu-toggle
            {
                margin-top: 10px;
                margin-bottom: 4px;
            }
            .menu-primary-menu-container
            {
                top: 59px;
            }
        }
    }/* /header section */

    .recent-books-wrapper
    {
        .butler-books 
        {
            .ft-book-img
            {
                max-height: initial;
                overflow: initial;
            }
            .butler-book-title
            {
                h2
                {
                    max-height:initial;
                    overflow: initial;
                    white-space: initial;
                    text-wrap: initial;
                }
            }
        }
    }

    /*search banner section and introduction section*/
    .search-banner-section-n-intro-section 
    {
        /*search banner section*/
        .search-banner-section 
        {
            .banner-section 
            {
                .carousel 
                {
                    .carousel-inner 
                    {
                        .carousel-caption-custom 
                        {
                            /*production description section*/
                            .production-description 
                            {
                                .book-title
                                {
                                    font-size: 22px important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .newsletter-n-social-links 
        {
            .brb-social-links 
            {
                > span
                {
                    margin-bottom: 10px;
                }
            }
        }

        /*about us section*/
        .about-us-section 
        {
            .about-description 
            {
                .about-title
                {
                    font-size: 28px;
                }
                .about-content
                {
                    max-height: 192px;
                }
            }
        }

    }/* /search banner section and introduction section */


    /*Recent books wrapper*/
    .recent-books-wrapper
    {
        .recent-books-title 
        {
            h1
            {
                font-size: 18px;
                padding: 10px;
            }
            .view-all-books
            {
                a
                {
                    margin-top: 6px;
                }
            }
        }
    }/* /Recent books wrapper */



    /*----------------------------------------------------
    INNER PAGE STYLING
    -------------------------------------------------------*/
    /*product listing page*/
    .woocommerce, .woocommerce-page
    {
        ul.products 
        {
            li.product
            {
                width: 100%;
            }
        }
    }/*product listing page*/

}//media query for mobile device end