/*for boxshadow*/
@mixin box-shadow($val1, $val2, $val3, $val4, $color)
{
    -webkit-box-shadow: $val1 $val2 $val3 $val4 $color;
    -moz-box-shadow: $val1 $val2 $val3 $val4 $color;
    -o-box-shadow: $val1 $val2 $val3 $val4 $color;
    box-shadow: $val1 $val2 $val3 $val4 $color;
}

@mixin transition($selector, $time, $effect:linear, $delay:0s)
{
    -webkit-transition: $selector $time $effect $delay;
    -moz-transition: $selector $time $effect $delay;
    -o-transition: $selector $time $effect $delay;
    transition: $selector $time $effect $delay;
}

/*transform*/
@mixin transform($x, $y)
{
    -webkit-transform: translate ($x, $y);
    -webkit-transform: translate ($x, $y);
    -webkit-transform: translate ($x, $y);
    transform: translate ($x, $y);
}
@mixin clearfix-cus()
{
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}