//variable and browser setting file importing
@import "variable-n-browser-reset.scss";
//compass importing
@import "compass";
//mixin file importing 
@import "mixin.scss";



// MODDULES STYLE START

/*common modules home and inner page*/

/*browse-categories section*/
.browse-categories
{
    h3
    {
        position:relative;
        background-color: $yellow;
        margin: 0px;
        color: #fff;
        padding: 12px 13px;
        font-size: 19px;
        font-weight: 300;
        &:before
            {
            content: "\f0c9";
            font: normal normal normal 22px/1 FontAwesome;
            color: #fff;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        &:after
            {
            content: "\f0d8";
            font: normal normal normal 22px/1 FontAwesome;
            color: #fff;
            position: absolute;
            left: 15px;
            bottom: -7px;
        }

    }
    .browse-by-categories
    {
        > ul 
        { 
            background-color:#fff;
            padding:5px;
            display:block;
            max-height: 390px;
            overflow-y: scroll; 
            >  li
            {
                list-style: none;
                > a
                {
                    display: block;
                    background-color:#ddd;
                    padding:7px 10px;
                    padding-left:30px;
                    font-size:15px;
                    font-weight:300;
                    border-bottom:1px solid #fff;
                    position:relative;

                    &:hover
                        {
                        background-color:$yellow;
                        color:#fff;
                    }
                    &:before
                        {
                        position: absolute;
                        content: "\f105";
                        font: normal normal normal 22px/1 FontAwesome;
                        color: #696969;
                        left: 14px;
                        top: 5px;
                    }
                }
                a:hover
                    {
                    &:before
                        {
                        color:#fff;
                    }
                }  
                ul
                {
                    background: #B3AEAD;
                    padding-left: 35px;
                    li
                    {
                        list-style: none;
                        a
                        {
                            display: block;
                            padding:4px 5px;
                            color:#4A4A4A;
                            text-transform: capitalize;
                            position:relative;

                            &:before
                                {
                                position: absolute;
                                content: "\f105";
                                font: normal normal normal 14px/1 FontAwesome;
                                color: #fff;
                                left: -10px;
                                top: 5px;
                            }
                            &:hover
                                {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            li:last-child
                {
                a
                {
                    border-bottom:none;
                }
            }
        }
    }

}/* /browse-categories section */

/*newsletter module block*/
.brb-newsletter
{
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    border-right: 1px solid #334DAD;
    -webkit-box-shadow: 1px 0px 0px 0px #0F226B;
    -moz-box-shadow: 1px 0px 0px 0px #0F226B;
    -o-box-shadow: 1px 0px 0px 0px #0F226B;
    box-shadow: 1px 0px 0px 0px #0F226B;

    h3
    {
        float: left;
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        margin-right: 15px;
        position:relative;
        margin-left: 38px;
        margin-top: 6px;
        &:before
            {
            content: "\f003";
            position: absolute;
            left: -35px;
            font: normal normal normal 26px/1 FontAwesome;
            top: -3px;
        }
    }
    .wpcf7
    {
        float:left;
        form
        {
            position:relative;
            p
            {
                float:left;
                margin-bottom: 0px;

                input[type="email"]
                {
                    padding: 7px;
                    background-color: rgba(255, 255, 255, 0.84);
                    border: none;
                    color:#000;
                    width: 395px;
                }

                input[type="submit"]
                {
                    border: none;
                    padding: 4.7px 13px;
                    font-size: 18px;
                    background: #3155ba;
                }
            }
            .wpcf7-response-output
            {
                display: block;
                position: absolute;
                top: 30px;
                left: -11px;
            }
        }
    }
}/*newsletter module block*/



/*Top header section style*/
header.site-header
{
    background-color: $blue;

    /* logo section */
    .site-branding
    {
        position: relative;
        width: 100%;
        background: #fff;

        .logo-section
        {
            position: absolute;
            -webkit-box-shadow: 0px 4px 7px 0px #0F0F19;
            -moz-box-shadow: 0px 4px 7px 0px #0F0F19;
            -o-box-shadow: 0px 4px 7px 0px #0F0F19;
            box-shadow: 0px 4px 7px 0px #0F0F19;
        }
    }/*  /end logo section */

    /*navigation menu*/
    nav.main-navigation
    {
        //tootle menu button
        button.menu-toggle
        {
            display: none;
        }

        /*menu-primary-menu-container*/
        .menu-primary-menu-container
        {
            @include clearfix-cus();
            //main navigation menu
            ul.menu
            {
                float: right;
                @include clearfix-cus();

                li
                {
                    list-style:none;
                }
                > li
                {
                    position:relative;
                    float:left;
                    > a
                    {
                        color:#fff;
                        font-size:17px;
                        font-weight: 300;
                        padding: 35px 20px;
                        display: inline-block;
                        @include transition(background-color, 0.5s);

                    }
                }

                li.more-nav
                {
                    border:1px solid #fff;
                    margin-top: 30px;
                    margin-left: 10px;
                    position:relative;
                    > a
                    {
                        position:relative;
                        padding: 4px 10px;
                        padding-right: 30px;
                        position:relative;
                        &:before
                            {
                            content: "\f103";
                            position: absolute;
                            top: 9px;
                            right: 10px;
                            color: #fff;
                            font: normal normal normal 16px/1 FontAwesome;
                        }
                    }
                    ul
                    {
                        position: absolute;
                        background-color: #CACACA;
                        width: 200px;
                        right: -2px;
                        top: 62px;
                        z-index: 1;
                        display:none;
                        li
                        {
                            a
                            {
                                display: block;
                                padding: 5px 10px;
                                color: #09258A;
                                @include transition (all, 0.2s);
                                &:hover
                                    {
                                    background-color: $blue;
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
            }// main navigation menu
        }/*menu-primary-menu-container*/

    }/* / navigation menu */
}
/* End Top header section style*/


/* SEARCH BANNER SECTION AND INTRO SECTION */
.search-banner-section-n-intro-section
{
    background-color: #0b0b28;
    padding: 40px 0 60px;
    background-image: url(../images/banner-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /*search banner section*/
    .search-banner-section
    {
        @include clearfix-cus;

        /*search and abnner section*/
        .search-section
        {
            margin-left: -30px;
            background: #fff;
            padding: 5px 5px 5px 15px;
            .search-by-categories
            {
                @include clearfix-cus;
                .select-category-search, .brb-search-cat-form
                {
                    float: left;
                }
                .select-category-search
                {
                    position:relative;
                    cursor:pointer;

                    &:before
                        {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #dcdcdc;
                        z-index: 9;
                        border-radius: 50%;
                        right: -10px;
                        background-color: #fff;
                        top: 11px;
                    }
                    &:after
                        {
                        content: "";
                        position: absolute;
                        right: -5px;
                        top: 19px;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 7px solid #09258a;
                        z-index: 11;
                    }
                    select
                    {
                        cursor:pointer;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        appearance: none;
                        padding: 8.2px 5px;
                        border: 1px solid #ddd;
                        width: 140px;
                        border-right: none;
                        height: 41.5px;
                        margin-top: 0.5px;
                        &:focus
                            {
                            outline:none;
                        }
                    }
                }
                .brb-search-cat-form
                {

                    input[type="search"]
                    {
                        height: 41px;
                        padding: 9px 15px;
                        border: 1px solid #ddd;
                        width: 580px;
                        margin-right: 5px;
                        &:focus
                            {
                            outline:none;
                        }
                    }
                    input[type="submit"]
                    {
                        height: 41px;
                        border: none;
                        background: #00239d;
                        padding: 7.8px 40px;
                        font-size: 17px;
                        color: #fff;
                        font-weight: 300;
                        &:focus
                            {
                            outline:none;
                        }
                    }
                }
            }
        }/* /search and abnner section*/

        .banner-section
        {
            margin-top: 15px;
            margin-left: -15px;
            .carousel
            {
                ol.carousel-indicators
                {
                    li.active
                    {
                        border:1px solid transparent;
                        background-color: #b7b924;
                    }  
                }
                .carousel-inner
                {
                    .item
                    {
                        .carousel-caption-custom
                        {
                            padding: 40px 0px 53px 75px;
                            .production-description
                            {
                                color: #fff;
                                .book-title
                                {
                                    font-size: 30px;
                                    color: #fff800;
                                    margin-bottom: 20px;
                                    text-transform: uppercase;
                                }
                                .book-price
                                {
                                    font-size: 33px;
                                    font-weight: 300;
                                    margin-bottom: 10px;
                                }
                                .book-author
                                {
                                    font-size: 15px;
                                    font-weight: 300;
                                    margin-bottom: 15px;
                                }
                                .get-book
                                {
                                    a
                                    {
                                        display: inline-block;
                                        padding: 5px 5px;
                                        border: 1px solid #fff;
                                        letter-spacing: 0px;
                                        text-align: center;
                                        width: 140px;
                                        -webkit-transition:border 0.3s, letter-spacing 0.5s;
                                        -moz-transition:border 0.3s, letter-spacing 0.5s;
                                        -o-transition:border 0.3s, letter-spacing 0.5s;
                                        transition:border 0.3s, letter-spacing 0.5s;
                                        &:hover
                                            {
                                            border:1px solid transparent;
                                            border-top:1px solid #fff;
                                            border-bottom:1px solid #fff;
                                            letter-spacing: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .carousel-control
                {
                    width:10%;
                    span.glyphicon
                    {
                        position: absolute;
                        top: 40%;
                        left:25%;
                    }
                }
                .right.carousel-control
                {
                    span.glyphicon
                    {
                        right:25%;
                    }
                }
            }
        }

    }/*search banner section*/

    /*Newsletter and social links*/
    .newsletter-n-social-links
    {
        background-color:#192f80;
        color:#fff;
        margin-top: 15px;
        margin-bottom: 55px;



        .brb-social-links
        {
            @include clearfix-cus;
            padding: 6px;


            span
            {
                font-size: 16px;
                font-weight: 300;
                margin-top: 3px;
                display: inline-block;
                margin-right :7px;
            }

            ul
            {
                float: right;
                li
                {
                    list-style: none;
                    float: left;
                    margin-right: 7px;
                    a
                    {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background-color: #4f73bf;
                        font-size: 20px;
                        text-align: center;
                        line-height: 29px;
                        -webkit-transition:0.3s all;
                        -moz-transition:0.3s all;
                        -o-transition:0.3s all;
                        transition:0.3s all;
                        &:hover
                            {
                            -webkit-transform:scale(1.1);
                            -moz-transform:scale(1.1);
                            -o-transform:scale(1.1);
                            transform:scale(1.1);
                        }
                    }
                    &:nth-child(2)
                        {
                        a{
                            background-color: #32c2f9;
                        }
                    }
                    &:nth-child(3)
                        {
                        a{
                            background-color: #e85f45;
                        }
                    }
                    &:nth-child(4)
                        {
                        a{
                            background-color: #1883bb;
                        }
                    }
                }
            }
        }
    }/* /ewsletter and social links */

    /*about us section*/
    .about-us-section
    {

        /*about-image*/
        .about-img
        {
            background: #fff;
            padding: 15px;

            img
            {
                width:100%;
            }
        }/* /about-image*/

        .about-description
        {
            color:#fff;

            .about-title
            {
                font-size: 44px;
                line-height: 32px;
                margin-bottom: 45px;
            }
            .about-content
            {
                margin-bottom: 40px;
                font-size: 17px;
                font-weight: 300;
                max-height: 197px;
                overflow: hidden;
            }
            .brb-more
            {
                a
                {
                    float: left;
                    background: $blue;
                    padding: 10px 10px;
                    width:90px;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 300;
                    border:1px solid transparent;
                    -webkit-transition:border 0.3s, letter-spacing 0.5s;
                    -moz-transition:border 0.3s, letter-spacing 0.5s;
                    -o-transition:border 0.3s, letter-spacing 0.5s;
                    transition:border 0.3s, letter-spacing 0.5s;
                    &:hover
                        {
                        border-top:1px solid #fff;
                        border-bottom:1px solid #fff;
                        background:transparent;
                        letter-spacing: 2px;
                    }
                }
            }
        }

    }/* /about us section*/

}/* /SEARCH BANNER SECTION AND INTRO SECTION */


/*FEATURE BOOK SECTION*/
.featured-books-wrapper
{
    background-color: #994916;
    color: #fff;
    padding-bottom: 45px;
    background-image: url(../images/back-image.png);
    background-repeat: no-repeat;
    background-position: 4px 17px;

    /*feature-book-title*/
    .featured-book-titl
    {
        h1
        {
            margin: 0px;
            background: #253c8c;
            display: inline-block;
            font-size: 28px;
            padding: 10px 25px;
            font-weight: 300;
            margin-top: -21px;
        }
    }/*feature-book-title*/
    .feature-slider-wrapper-section
    {
        position:relative;

        .button
        {
            position:absolute;
            top:50%;
            cursor: pointer;
        }
        #pre
        {
            left:-50px;
        }
        #next
        {
            right: -50px;
        }
        .feature-slider-wrapper
        {
            @include clearfix-cus;
            margin-top: 65px;
            .featured-books
            {
                background: #fff;
                color: #000;
                padding:20px;
                @include clearfix-cus;

                .description
                {
                    float:left;
                    width:60%;
                    padding-right: 20px;
                    .ft-book-title
                    {
                        h2
                        {
                            margin-top: 0px;
                            font-size: 24px;
                            color: #353535;
                            font-weight: 300;
                            margin-bottom: 20px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            height: 30px;
                            overflow: hidden;
                        }
                    }
                    .ft-book-price
                    {
                        @include clearfix-cus;
                        h3
                        {
                            margin: 0px;
                            font-size: 26px;
                            color: #e77934;
                            margin-bottom: 15px;
                        }
                    }
                    .ft-book-info
                    {
                        margin-bottom: 10px;
                        color: #4f4f4f;
                        *
                        {
                            font-size:15px;
                        }
                        span
                        {
                            font-weight: bold;
                            color: #000;
                        }
                    } 

                    .short-dec
                    {   
                        color: #575757;  
                        font-size: 15px;
                        max-height: 63px;
                        overflow: hidden;

                        p
                        {
                            color:inherit;
                            font-size: inherit;
                        }
                    }
                    .brb-more
                    {
                        a
                        {
                            color: #253c8c;
                            font-weight: bold;
                            font-size: 16px;
                            margin-top: 10px;
                            display: inline-block;
                        }
                    }
                }
                .ft-book-img
                {
                    width: 40%;
                    float: left;
                    max-height: 250px;
                    overflow: hidden;
                    img
                    {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }//feature slider section
    }//feature slider wrapper section

}/*feature book section*/


/*Recent book section*/
.recent-books-wrapper
{
    background-color:#050524;
    color:#fff;
    padding:45px 0px 20px;

    .recent-books-title
    {
        h1
        {
            margin:0px;
        }
    }

    .butler-books
    {
        padding: 15px;
        background-color: #e6e6ea;
        color: #000;
        margin-bottom:30px;

        .ft-book-img
        {
            max-height: 270px;
            overflow: hidden;
            img
            {
                width:100%;
                height:auto;
            }
        }
        .butler-book-title
        {
            h2
            {
                font-size: 20px;
                font-weight: 300;
                color: #353535;
                margin: 0px;
                margin-top: 20px;
                max-height: 25px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}/*Recent book section*/

.recent-books-wrapper
{
    .recent-books-title
    {
        border-bottom: 1px solid #253c8c;
        margin-bottom: 45px;
        @include clearfix-cus;
        h1
        {
            margin: 0px;
            background: #253c8c;
            display: inline-block;
            font-size: 28px;
            padding: 10px 25px;
            font-weight: 300;
            float:left;
        }
        .view-all-books 
        {
            float:right;
            a
            {
                font-size: 17px;
                font-weight: 300;
                color: #B1B1B1;
                margin-top: 14px;
                display: inline-block;
            }
        }
    }
    .butler-books
    {
        .butler-book-price
        {
            margin: 15px 0px 10px;
            h3
            {
                margin: 0px;
                color: #e77934;
                font-weight: 300;
            }
        }
        .ft-book-info
        {
            color: #4f4f4f;
            font-size: 15px;
            margin-bottom: 10px;
            span
            {
                color: #000;
                font-weight: bold;
            }
        }
        .brb-more
        {
            a
            {
                color: #253c8c;
                font-weight: bold;
                font-size: 16px;
                margin-top: 10px;
                display: inline-block;
            }
        }
    }
}


/*FOOTER SECTION START*/
footer#colophon 
{
    background-color: #151515;
    color:#999999;
    font-weight:300;
    padding:15px 0;

    /* phone no and email address */
    .phone-no-n-email-address
    {
        .phone-no, .email-address
        {
            display: inline-block;
            i
            {
                font-size: 20px;
                position: relative;
                top: 4px;
                margin-right: 7px;
            }
        }
        .email-address
        {
            i
            {
                top: 2px;
            }
        }
        .phone-no
        {
            margin-right:20px;
        }
    }/* /phone no and email address */

    /*for copyright*/
    .site-info
    {
        float:right;
    }/* /for copyright */
}
/*end footer section style*/






/* -------------- INNER PAGE COMMON STYLE --------------- */
/*For breadcrumb*/
.browse-categories.inner
{
    ul
    {
        padding:0px;
    }
}
.woocommerce-info
{
    border-top: none !important;
}

/*product zoom magnifier*/
.yith_magnifier_zoom_magnifier
{
    border:none !important;
}

.woocommerce-ordering
{
    position:relative;
    width: 100%;
    margin-top: 25px !important;

    &:before
        {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid #dcdcdc;
        z-index: 5;
        border-radius: 50%;
        right: 5px;
        background-color: #fff;
        top: 11px;
    }
    &:after
        {
        content: "";
        position: absolute;
        right: 10px;
        top: 19px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #09258a;
        z-index: 5;
    }

    select
    {
        cursor:pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        padding: 8.2px 5px;
        border: 1px solid #ddd;
        width: 100%;
        height: 41.5px;
        margin-top: 0.5px;
        padding-right: 28px;
        background: transparent;
        position: relative;
        z-index: 10;
        &:focus
            {
            outline:none;
        }
    }
}

/*for filter*/
.brb-price-filter
{
    margin-bottom: 25px;

    section
    {

        h2
        {
            margin: 0px;
            position: relative;
            background-color: #09258A;
            color: #fff;
            padding: 12px 13px;
            font-size: 19px;
            font-weight: 300;
        }
        form
        {
            background: #DDD;
            padding: 20px 12px;

            button[type="submit"]
            {
                background-color: #09258A;
                border-radius: 0px;
                color: #fff;
                -webkit-transition:0.3s all;
                -o-transition:0.3s all;
                -moz-transition:0.3s all;
                transition:0.3s all;
                &:hover
                    {
                    background-color:#1E3FB9;
                    color:#fff;
                }
            }
        }
    }
}

/*inner pages main title*/ 
h1.page-title
{
    font-size: 35px;
    color: #09258A;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*product result count on list product page*/
p.woocommerce-result-count
{
    color: #9A9898;
}

/*product listing style*/
.woocommerce 
{
    ul.products
    {
        li.product 
        {
            background-color: #F9F9F9;
            box-shadow: 0px 0px 1px 1px #F3F3F3;
            border: 1px solid #E8E8E8;


            a
            {
                display:block;

                .brb-product-details
                {
                    .book-author
                    {
                        background: #E8E8E8;
                        padding: 5px 12px;
                        margin-bottom: 8px;
                        color: #524D4D;
                        box-shadow: 1px -4px 2px -2px rgba(132, 129, 129, 0.55) inset;
                    }
                    h3
                    {
                        font-size: 16px;
                        padding: 0px 10px;
                        margin-bottom: 15px;
                        color: #3C3B3B;
                    }
                    .price  
                    {
                        float: right;
                        text-align: right;
                        padding:0px 10px 10px;
                        span.amount
                        {
                            font-size: 18px;
                            color: #e77934;
                            font-weight: 300;  
                        }
                    }
                }

            }
        }
    }
}

/*related product in single product styling*/
.related.products
{
    h2
    {
        margin: 0px;
        background: #354FA9;
        display: inline-block;
        font-size: 22px;
        padding: 10px 25px;
        font-weight: 300;
        float: left;
        color: #fff;
    }
    > ul

    {
        border-top: 1px solid #DADADA;
        background-color: #F3F3F3;
        padding: 0px 15px;
        padding-top: 30px;
        li
        {
            a
            {
                img
                {
                    border: 1px solid #ddd;
                    padding: 5px;
                    margin-bottom: 0px;
                }
                h3
                {
                    padding: 0 !important;
                    font-size: 16px !important;
                    font-weight: normal;
                    color: #354FA9;
                    margin-bottom: 5px !important;
                }
            }
            .price
            {
                span.amount
                {
                    font-size: 20px;
                    color:#FF6300;
                }
            }
        }
    }
}

/*email to friend button styling*/
.brb_email_to_friend{
    a
    {
        border: none;
        border-radius: 0px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 300;
        background-color: #FF6300;
        padding-left: 35px;
        position: relative;
        margin-bottom: 10px;
        color: #fff;
        display: inline-block;
        position:relative;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        transition:all 0.5s;

        &:after
            {
            content: "\f007";
            font: normal normal normal 22px/1 FontAwesome;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
}


/* ------------------------------------- 
          INNER PAGES COMMON BLOCK
--------------------------------------- */ 

/*logo shadow*/
header.site-header
{
    .site-branding 
    {
        .logo-section.wt-shadow
        {
            -webkit-box-shadow: 0px 4px 7px 0px #B3B3B3;
            -moz-box-shadow: 0px 4px 7px 0px #B3B3B3;
            -o-box-shadow: 0px 4px 7px 0px #B3B3B3;
            box-shadow: 0px 4px 7px 0px #B3B3B3;
        }
    }
}

/*search page title border*/
.page-header
{
    border-bottom: 3px solid #D4D1D1;
    margin-bottom: 40px;
}
/*product list title border*/
.brb-sort-title
{
    border-bottom: 3px solid #D4D1D1;
    margin-bottom: 30px;
}
/*module popup*/ 
.common-form
{
    form
    {
        input, textarea
        {
            width: 100%;
            padding: 6px;
            border: 1px solid #E8E7E7;
            @include transition(all, 0.3s);
            &:focus
                {
                outline: none;
            }
        }
        textarea
        {
            height: 100px;
        }
        input[type='submit']
        {
            width: initial;
            background-color: #337AB7;
            color: #fff;
            font-size: 17px;
            padding: 8px 35px;
            width: 150px;
            font-weight: 300;
            text-transform: uppercase;
            @include transition(all, 0.5s);
            &:hover
                {
                letter-spacing: 1px;
            }
        }
    }
}/*module popup*/ 

/*inner pages newsletter*/
.brb-newsletter.inner
{
    background-color: #09258A;
    margin-bottom: 20px;
    color: #fff;
    padding:10px;
    .wpcf7 
    {
        float:initial;
        form 
        {
            p
            {
                float:initial;
                input[type="email"]
                {
                    width: 100% !important;
                    margin: 15px 0px 10px !important;
                }
            }
            .wpcf7-response-output
            {
                display: none !important;
            }
            span.wpcf7-not-valid-tip
            {
                margin-bottom: 5px;
            }
        }
    }
}

/*breadcrum styling*/
.brb_woo_breadcrumb_wrapper
{
    background-color: #ddd;
    padding: 15px 0px; 
    margin-bottom:30px;

    .woocommerce-breadcrumb
    {
        margin-bottom: 0px;
        float:right;
        color: #424242;
        a
        {
            color: #4765D2;
        }
    }
}

/*woocomerce tabs for product detail*/
.woocommerce-tabs
{
    ul.tabs 
    {
        li
        {
            border-radius:0px !important;
            &:before
                {
                display:none;
            }
            &:after
                {
                display:none;
            }
        }
    }
}

/*woocomerce tabs for product detail*/
.woocommerce
{
    .wc-tab
    {
        h2
        {
            margin: 0px;
            margin-bottom: 25px;
            font-size: 24px;
            color: #337AB7;
        }
        #reviews
        {
            #comments
            {
                ol.commentlist 
                {
                    li 
                    {
                        .comment-text
                        {
                            border-radius: 0px;
                        }
                    }
                }
            }
        }
    }
}

/*for pagination style*/
.pagination {

    padding:20px 0px;
    position:relative;
    font-size:11px;
    line-height:13px;

    span, a 
    {
        display:block;
        float:left;
        margin: 2px 2px 2px 0;
        padding:6px 9px 5px 9px;
        text-decoration:none;
        width:auto;
        color:#fff;
        background: #555;
    }
    a
    {
        &:hover
            {
            color:#fff;
            background: #3279BB  ;
        }
    }
    .current
    {
        padding:6px 9px 5px 9px;
        background: #3279BB  ;
        color:#fff;
    }
}


/* ------------------------------------- 
         COMMON INNER PAGE STYLE
--------------------------------------- */ 

.common-inner-page
{
    margin-bottom: 30px;
    min-height: 600px;

    /*image wrapper style*/
    .img-wrapper
    {
        border: 1px solid #ddd;
        display: inline-block;
        padding: 5px;
        margin-bottom: 30px;

        img
        {
            max-width: 100%;
        }
    }

    /*content description*/
    .content-description
    {
        h1.entry-title
        {
            margin-top: 0px;
            margin-bottom: 25px;
            font-size: 32px;
            color: #09258A;
        }
        .entry-content p
        {
            font-size: 16px;
        }
    }
}/* common inner page style */


/* ------------------------------------- 
          SINGLE PRODUCT PAGE STYLE 
--------------------------------------- */ 
.single-product
{

    #container
    {
        margin-bottom: 30px;
    }

    .entry-summary
    {
        > h1
        {
            color: #09258A;
            font-size: 30px;
            margin-bottom: 15px;
            + div p
            {
                font-size: 16px;
                color: #5A5A5A;
                margin-bottom: 0px;
            }
        }
        p.price
        {
            font-size: 35px;
            font-weight: 400;
            margin: 10px 0px 15px;
            span
            {
                font-size: 35px;
                color: #e77934;
            }
        }
        button.btn-enquiry
        {
            -webkit-transition:all 0.5s;
            -moz-transition:all 0.5s;
            -o-transition:all 0.5s;
            transition:all 0.5s;
            &:hover
                {
                background-color:#15548A;
            }
        }
        button.btn-primary
        {
            border: none;
            border-radius: 0px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 300;
            background-color: #337ab7;
            padding-left: 40px;

            position:relative;
            &:after
                {
                content: "\f059";
                font: normal normal normal 26px/1 FontAwesome;
                position: absolute;
                top: 8px;
                left: 10px;
            }
        }
        .modal
        {
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #E6E6E6;

            .modal-content
            {
                border-radius:0px;
                position:relative;
                .modal-header
                {
                    button
                    {
                        font-size: 24px;
                        span
                        {
                            font-size: 35px;
                            color: white;
                            padding: 5px 10px;
                            background: red;
                            position: absolute;
                            right: -1px;
                            top: 0px;
                            line-height: 30px;
                            padding-top: 1px;
                            padding-bottom: 10px;
                        }
                    }
                }

                form
                {
                    input, textarea
                    {
                        width: 100%;
                        padding: 6px;
                        border: 1px solid #E8E7E7;
                        @include transition(all, 0.3s);
                        &:focus
                            {
                            outline: none;
                        }
                    }
                    textarea
                    {
                        height: 100px;
                    }
                    input[type='submit']
                    {
                        width: initial;
                        background-color: #337AB7;
                        color: #fff;
                        font-size: 17px;
                        padding: 8px 35px;
                        width: 150px;
                        font-weight: 300;
                        text-transform: uppercase;
                        @include transition(all, 0.5s);
                        &:hover
                            {
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }

    /*IMAGE SECTION*/
    .images
    {
        .yith_magnifier_zoom_wrap
        {
            border: 1px solid #ddd;
        }
        .thumbnails
        {
            border: 1px solid #ddd;
            padding: 0px 10px 10px;
            border-top: none;

            .caroufredsel_wrapper
            {
                height : 110px !important;
                ul
                {
                    li
                    {
                        padding: 0px 10px;
                        a
                        {
                            border-right: 1px solid #ddd;
                            margin: 0px !important;
                        }
                    }
                }
            }
        }
    }
}/* single product page */



/* ------------------------------------- 
        SEARCH PAGE STYLE
--------------------------------------- */ 
.search-results
{
    .brb-ft-img
    {
        border: 1px solid #ddd;
        display: inline-block;
        padding: 5px;
        img
        {
            max-width: 100%;
        }
    }
    article.sigle-search
    {
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }

    .entry-header
    {
        h2
        {
            margin-top: 0px;
            margin-bottom: 15px;
            a
            {
                display: inherit;
                font-size: 20px;
                color: #09258A;
            }
        }
    }
}