//compass importing
@import "compass";

// color variables
$blue :#09258a;
$yellow: #eb5c01;
$black:#0c0c0c;
$menu-hover-color:#3a51a1;
$font:lato;
$font-size:14px;


/*browser resetting*/
*
{
    margin:0;
    padding:0;
    font-size: $font-size;
    font-family: $font;
}
ul, ol
{
    margin-bottom:0;
}
a
{
    color:inherit;
    &:hover
        {
        color:inherit;
        text-decoration: none;
    }
}
/*browser resetting end*/

