/*import modules*/
/*browser resetting*/
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: lato; }

ul, ol {
    margin-bottom: 0; }

a {
    color: inherit; }
a:hover {
    color: inherit;
    text-decoration: none; }

/*browser resetting end*/
/*for boxshadow*/
/*transform*/
/*Top header section style*/
header.site-header {
    background-color: #09258a;
    /* logo section */
    /*  /end logo section */
    /*navigation menu*/
    /* / navigation menu */ }
header.site-header .site-branding {
    position: relative;
    width: 100%;
    background: #fff; }
header.site-header .site-branding .logo-section {
    position: absolute;
    box-shadow: 0px 4px 7px 0px #0F0F19; }
header.site-header nav.main-navigation {
    /*menu-primary-menu-container*/
    /*menu-primary-menu-container*/ }
header.site-header nav.main-navigation button.menu-toggle {
    display: none; }
header.site-header nav.main-navigation .menu-primary-menu-container:before, header.site-header nav.main-navigation .menu-primary-menu-container:after {
    content: " ";
    display: table; }
header.site-header nav.main-navigation .menu-primary-menu-container:after {
    clear: both; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu {
    float: right; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:before, header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:after {
    content: " ";
    display: table; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:after {
    clear: both; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li {
    list-style: none; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li {
    float: left; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > a {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 35px 20px;
    display: inline-block;
    -webkit-transition: background-color 0.5s linear 0s;
    -moz-transition: background-color 0.5s linear 0s;
    -o-transition: background-color 0.5s linear 0s;
    transition: background-color 0.5s linear 0s; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > a:hover {
    background-color: #3a51a1; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav {
    border: 1px solid #fff;
    margin-top: 30px;
    margin-left: 10px;
    position: relative; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav:before {
    content: "\f103";
    position: absolute;
    top: 9px;
    right: 10px;
    color: #fff;
    font: normal normal normal 16px/1 FontAwesome; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav > a {
    padding: 4px 10px;
    padding-right: 30px; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul {
    position: absolute;
    background-color: #CACACA;
    width: 200px;
    right: -2px;
    top: 62px;
    z-index: 1;
    -webkit-transform: translate(0px, 30px) scale(0);
    -moz-transform: translate(0px, 30px) scale(0);
    -o-transform: translate(0px, 30px) scale(0);
    transform: translate(0px, 30px) scale(0);
    -webkit-transition: translate 0.5s linear;
    -moz-transition: translate 0.5s linear;
    -o-transition: translate 0.5s linear;
    transition: translate 0.5s linear; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul li a {
    display: block;
    padding: 5px 10px;
    color: #09258A;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul li a:hover {
    background-color: #09258a;
    color: #fff; }
header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul.active {
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    transform: translate(0px, 0px) scale(1); }

/* End Top header section style*/
/* SEARCH BANNER SECTION AND INTRO SECTION */
.search-banner-section-n-intro-section {
    background-color: #0b0b28;
    padding: 40px 0 60px;
    /*search banner section*/
    /*search banner section*/
    /*about us section*/
    /* /about us section*/ }
.search-banner-section-n-intro-section .search-banner-section {
    /*browse-categories section*/
    /* /browse-categories section */
    /*search and abnner section*/
    /* /search and abnner section*/ }
.search-banner-section-n-intro-section .search-banner-section:before, .search-banner-section-n-intro-section .search-banner-section:after {
    content: " ";
    display: table; }
.search-banner-section-n-intro-section .search-banner-section:after {
    clear: both; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories h3 {
    position: relative;
    background-color: #eb5c01;
    margin: 0px;
    color: #fff;
    padding: 12px 13px;
    font-size: 19px;
    font-weight: 300; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories h3:before {
    content: "\f0c9";
    font: normal normal normal 22px/1 FontAwesome;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories h3:after {
    content: "\f0d8";
    font: normal normal normal 22px/1 FontAwesome;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: -7px; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul {
    background-color: #fff;
    padding: 5px; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li {
    list-style: none; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li a {
    display: block;
    background-color: #ddd;
    padding: 7px 10px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #fff;
    position: relative; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li a:hover {
    background-color: #eb5c01;
    color: #fff; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li a:before {
    position: absolute;
    content: "\f105";
    font: normal normal normal 22px/1 FontAwesome;
    color: #8e8e8e;
    left: 13px;
    top: 5px; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li a:hover:before {
    color: #fff; }
.search-banner-section-n-intro-section .search-banner-section .browse-categories ul li:last-child a {
    border-bottom: none; }
.search-banner-section-n-intro-section .search-banner-section .search-section {
    margin-left: -30px;
    background: #fff;
    padding: 5px 5px 5px 15px; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:before, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:after {
    content: " ";
    display: table; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:after {
    clear: both; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form {
    float: left; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search select {
    padding: 9.5px 5px;
    width: 140px; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
    padding: 9px 5px;
    border: 1px solid #ddd;
    width: 580px;
    margin-right: 5px; }
.search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="submit"] {
    border: none;
    background: #00239d;
    padding: 7.8px 40px;
    font-size: 17px;
    color: #fff;
    font-weight: 300; }
.search-banner-section-n-intro-section .search-banner-section .banner-section {
    margin-top: 15px;
    margin-left: -15px; }
.search-banner-section-n-intro-section .search-banner-section .banner-section .carousel ol.carousel-indicators li.active {
    border: 1px solid transparent;
    background-color: #b7b924; }
.search-banner-section-n-intro-section .about-us-section {
    margin-top: 65px;
    /*about-image*/
    /* /about-image*/ }
.search-banner-section-n-intro-section .about-us-section .about-img {
    background: #fff;
    padding: 15px; }
.search-banner-section-n-intro-section .about-us-section .about-img img {
    width: 100%; }
.search-banner-section-n-intro-section .about-us-section .about-description {
    color: #fff; }
.search-banner-section-n-intro-section .about-us-section .about-description .about-title {
    font-size: 44px;
    line-height: 32px;
    margin-bottom: 45px; }
.search-banner-section-n-intro-section .about-us-section .about-description .about-content {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 300;
    max-height: 197px;
    overflow: hidden; }
.search-banner-section-n-intro-section .about-us-section .about-description .brb-more a {
    float: left;
    background: #09258a;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 300; }

/* /SEARCH BANNER SECTION AND INTRO SECTION */
/*FEATURE BOOK SECTION*/
.featured-books-wrapper {
    background-color: #994916;
    color: #fff;
    padding-bottom: 45px;
    /*feature-book-title*/
    /*feature-book-title*/ }
.featured-books-wrapper .featured-book-titl h1 {
    margin: 0px;
    background: #253c8c;
    display: inline-block;
    font-size: 28px;
    padding: 10px 25px;
    font-weight: 300;
    margin-top: -21px; }
.featured-books-wrapper .featured-books {
    background: #fff;
    color: #000;
    margin-top: 30px;
    padding: 20px; }
.featured-books-wrapper .featured-books:before, .featured-books-wrapper .featured-books:after {
    content: " ";
    display: table; }
.featured-books-wrapper .featured-books:after {
    clear: both; }
.featured-books-wrapper .featured-books .description {
    float: left;
    width: 60%;
    padding-right: 20px; }
.featured-books-wrapper .featured-books .description .ft-book-title h2 {
    margin-top: 0px;
    font-size: 24px;
    color: #353535;
    font-weight: 300;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    overflow: hidden; }
.featured-books-wrapper .featured-books .description .ft-book-price:before, .featured-books-wrapper .featured-books .description .ft-book-price:after {
    content: " ";
    display: table; }
.featured-books-wrapper .featured-books .description .ft-book-price:after {
    clear: both; }
.featured-books-wrapper .featured-books .description .ft-book-price h3 {
    margin: 0px;
    font-size: 26px;
    color: #e77934;
    margin-bottom: 15px; }
.featured-books-wrapper .featured-books .description .ft-book-info {
    margin-bottom: 10px;
    color: #4f4f4f; }
.featured-books-wrapper .featured-books .description .ft-book-info * {
    font-size: 15px; }
.featured-books-wrapper .featured-books .description .ft-book-info span {
    font-weight: bold;
    color: #000; }
.featured-books-wrapper .featured-books .description .short-dec {
    color: #575757;
    font-size: 15px;
    max-height: 65px;
    overflow: hidden; }
.featured-books-wrapper .featured-books .ft-book-img {
    width: 40%;
    float: left;
    max-height: 250px;
    overflow: hidden; }
.featured-books-wrapper .featured-books .ft-book-img img {
    width: 100%;
    height: auto; }

/*feature book section*/
/*Recent book section*/
.recent-books-wrapper {
    background-color: #050524;
    color: #fff;
    padding: 45px 0px 50px; }
.recent-books-wrapper .recent-books-title h1 {
    margin: 0px; }
.recent-books-wrapper .butler-books {
    padding: 15px;
    background-color: #e6e6ea;
    color: #000; }
.recent-books-wrapper .butler-books .ft-book-img {
    max-height: 270px;
    overflow: hidden; }
.recent-books-wrapper .butler-books .ft-book-img img {
    width: 100%;
    height: auto; }

/*Recent book section*/
.recent-books-wrapper .recent-books-title {
    border-bottom: 1px solid #253c8c;
    margin-bottom: 45px; }
.recent-books-wrapper .recent-books-title:before, .recent-books-wrapper .recent-books-title:after {
    content: " ";
    display: table; }
.recent-books-wrapper .recent-books-title:after {
    clear: both; }
.recent-books-wrapper .recent-books-title h1 {
    margin: 0px;
    background: #253c8c;
    display: inline-block;
    font-size: 28px;
    padding: 10px 25px;
    font-weight: 300;
    float: left; }
.recent-books-wrapper .recent-books-title .view-all-books {
    float: right; }
.recent-books-wrapper .recent-books-title .view-all-books a {
    font-size: 17px;
    font-weight: 300;
    color: #D2D2D2;
    margin-top: 14px;
    display: inline-block; }

/*FOOTER SECTION START*/
footer#colophon {
    background-color: #0c0c0c;
    color: #999999;
    font-weight: 300;
    padding: 15px 0;
    /* phone no and email address */
    /* /phone no and email address */
    /*for copyright*/
    /* /for copyright */ }
footer#colophon .phone-no-n-email-address .phone-no, footer#colophon .phone-no-n-email-address .email-address {
    display: inline-block; }
footer#colophon .phone-no-n-email-address .phone-no i, footer#colophon .phone-no-n-email-address .email-address i {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 7px; }
footer#colophon .phone-no-n-email-address .email-address i {
    top: 2px; }
footer#colophon .phone-no-n-email-address .phone-no {
    margin-right: 20px; }
footer#colophon .site-info {
    float: right; }

/*end footer section style*/
/*import media query*/
/*for large device*/
/*md device*/
/*for sm device*/
/*xs device*/
/*mobile device*/

/*# sourceMappingURL=main.css.map */
