/*----------------------------------------------------
FOR MD DEVICE 
 -------------------------------------------------------*/
@media (max-width: 1200px) {
  /*header section*/
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > a {
    padding: 35px 12px;
    font-size: 15px; }
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul {
    top: 60px; }
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav:before {
    top: 7px; }

  /* header section*/
  /*search banner section n intro section*/
  .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
    width: 430px; }
  .search-banner-section-n-intro-section .search-banner-section .browse-categories h3 {
    font-size: 16px; }
  .search-banner-section-n-intro-section .search-banner-section .browse-categories ul li a {
    font-size: 13px; }
  .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p input[type="email"] {
    width: 180px; }

  /* /search banner section and introduction section*/
  /*feature books wrapper*/
  .featured-books-wrapper {
    background-position: -10px 32px; }
    .featured-books-wrapper .feature-slider-wrapper-section #pre {
      left: initial;
      right: 65px; }
    .featured-books-wrapper .feature-slider-wrapper-section #next {
      right: 15px; }
    .featured-books-wrapper .feature-slider-wrapper-section .button {
      top: 10px; }

  .browse-categories.inner h3 {
    font-size: 17px; }
  .browse-categories.inner ul li a {
    font-size: 14px; } }
/*for only menu*/
@media (max-width: 2500px) and (min-width: 992px) {
  /*for large device menu section*/
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li {
    position: relative; }
    header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li:hover > ul {
      display: block; }
    header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul {
      display: none;
      position: absolute;
      top: 100%;
      background-color: #2446BF;
      z-index: 10;
      width: 200px; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li {
        position: relative; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li:hover > ul {
          display: block; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li a {
          display: block;
          padding: 7px 10px;
          color: #fff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.49); }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li ul {
          position: absolute;
          left: 100%;
          top: 0px;
          background-color: blue;
          width: 200px;
          z-index: 10;
          display: none; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li ul li {
            background-color: #3D60DC; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li ul li:last-child {
            border-bottom: none; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li.menu-item-has-children {
        position: relative; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li.menu-item-has-children:after {
          content: "\f105";
          position: absolute;
          color: #fff;
          right: 8px;
          font: normal normal normal 14px/1 FontAwesome;
          top: 32%; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > ul li:last-child {
        border-bottom: none; }
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li.menu-item-has-children:after {
    content: "\f107";
    position: absolute;
    right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    top: 45%;
    color: #fff; }
  header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li.more-nav:after {
    content: ""; } }
/*----------------------------------------------------
FOR SM DEVICE 
 -------------------------------------------------------*/
@media (max-width: 992px) {
  /*Top header section*/
  header.site-header {
    /*logo section*/
    /* /logo section */
    /*For navigation section*/
    /* / For navigation section */ }
    header.site-header .site-branding .logo-section {
      position: initial; }
    header.site-header nav.main-navigation {
      position: relative; }
      header.site-header nav.main-navigation button.menu-toggle {
        display: block;
        float: right;
        color: #fff;
        background-color: transparent;
        border: none;
        font-size: 32px;
        margin-top: 25px; }
        header.site-header nav.main-navigation button.menu-toggle:focus {
          outline: none; }
      header.site-header nav.main-navigation .menu-primary-menu-container {
        position: absolute;
        right: 0;
        z-index: 15;
        top: 95px;
        display: none; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu {
          background: #395AD2; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li {
            float: initial; }
            header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li a {
              padding: 6px 12px;
              font-size: 15px;
              display: block; }
            header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li ul {
              background-color: #304EBD; }
              header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li ul li {
                color: #fff; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav {
            border: none;
            margin-top: 0px;
            margin-left: 0px; }
            header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul {
              position: initial;
              width: initial;
              right: initial;
              top: initial; }

  /* /Top header section */
  /*for menu only*/
  /*search banner section and introduction section*/
  .search-banner-section-n-intro-section .search-banner-section .browse-categories {
    cursor: pointer; }
    .search-banner-section-n-intro-section .search-banner-section .browse-categories h3 {
      font-size: 20px; }
      .search-banner-section-n-intro-section .search-banner-section .browse-categories h3:before {
        font-size: 24px; }
      .search-banner-section-n-intro-section .search-banner-section .browse-categories h3:after {
        display: none; }
    .search-banner-section-n-intro-section .search-banner-section .browse-categories ul#bro-cat {
      display: none; }
      .search-banner-section-n-intro-section .search-banner-section .browse-categories ul#bro-cat li a {
        font-size: 16px; }
      .search-banner-section-n-intro-section .search-banner-section .browse-categories ul#bro-cat li ul li a {
        font-size: 14px; }
  .search-banner-section-n-intro-section .search-banner-section .search-section {
    margin-left: 0px;
    padding: 5px;
    margin-top: 10px; }
    .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
      width: 432px; }
  .search-banner-section-n-intro-section .search-banner-section .banner-section {
    margin-left: 0px; }
  .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter {
    padding: 10px;
    border-right: none;
    border-bottom: 1px solid #334DAD;
    -webkit-box-shadow: 0px 1px 0px 0px #0F226B;
    -moz-box-shadow: 0px 1px 0px 0px #0F226B;
    -o-box-shadow: 0px 1px 0px 0px #0F226B;
    box-shadow: 0px 1px 0px 0px #0F226B; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p input[type="email"] {
      width: 340px; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p span.wpcf7-not-valid-tip {
      margin-bottom: 10px; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form .wpcf7-response-output {
      display: none !important; }
  .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links {
    padding: 10px; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links > span {
      float: left; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul {
      float: left; }

  /* / search banner section and introduction section */
  /*----------------------------------------------------
  INNER PAGE STYLING
  -------------------------------------------------------*/
  /*browse categories*/
  .browse-categories.inner .browse-by-categories h3 {
    cursor: pointer; }
    .browse-categories.inner .browse-by-categories h3:after {
      content: ""; } }
/*----------------------------------------------------
FOR XS DEVICE 
 -------------------------------------------------------*/
@media (max-width: 768px) {
  /*header section*/
  header.site-header .site-branding .logo-section a {
    display: block;
    text-align: center; }
    header.site-header .site-branding .logo-section a img {
      width: 201px;
      height: 86px;
      display: inline-block; }
  header.site-header nav.main-navigation button.menu-toggle {
    margin-top: 17px; }
  header.site-header nav.main-navigation .menu-primary-menu-container {
    top: 86px; }

  /*header section*/
  /*slider section*/
  .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-caption-custom {
    padding: 40px 20px 60px !important; }

  /*search banner section and introduction section*/
  .search-banner-section-n-intro-section {
    /*search banner section*/
    /* / search banner section */
    /*newsletter and social links section*/
    /* /newsletter and social links section */
    /*about us section*/
    /* / about us section */ }
    .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form {
      float: initial; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search select, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search input[type="search"], .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form select, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
        width: 100%; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search select, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form select {
        border-right: 1px solid #ddd; }
    .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search:after {
      right: 10px; }
    .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search:before {
      right: 5px; }
    .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
      margin: 5px 0px; }
    .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-control {
      display: none; }
    .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom {
      padding: 40px 20px 60px !important;
      /*production description section*/
      /*banner image section*/ }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom .production-description {
        margin-bottom: 30px; }
        .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom .production-description .book-title {
          font-size: 24px !important; }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom .banner-img-sec img {
        max-width: 100%; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter h3 {
      margin-bottom: 15px; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 {
      float: initial; }
      .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p {
        float: inherit;
        display: block; }
        .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p input[type="email"] {
          margin: 5px 0px; }
        .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p input[type="email"], .search-banner-section-n-intro-section .newsletter-n-social-links .brb-newsletter .wpcf7 form p input[type="submit"] {
          width: 100%; }
    .search-banner-section-n-intro-section .about-us-section .about-description .about-title {
      margin-top: 45px;
      margin-bottom: 27px;
      font-size: 35px; }

  footer#colophon .phone-no-n-email-address {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #272727;
    -webkit-box-shadow: 0px 1px 0px 0px #000000;
    -moz-box-shadow: 0px 1px 0px 0px #000000;
    -o-box-shadow: 0px 1px 0px 0px #000000;
    box-shadow: 0px 1px 0px 0px #000000;
    margin-bottom: 10px; }
  footer#colophon .site-info {
    float: none;
    display: block;
    text-align: center; } }
/*----------------------------------------------------
FOR MOBILE DEVICE 
 -------------------------------------------------------*/
@media (max-width: 480px) {
  .col-xs-6 {
    width: 100%; }

  .col-xs-8, .col-xs-4, .col-xs-7, .col-xs-5 {
    width: 100%; }

  /*slider section*/
  .carousel-caption-custom {
    /*production description section*/
    /*banner image section*/ }
    .carousel-caption-custom .production-description {
      text-align: center; }
      .carousel-caption-custom .production-description .book-title {
        font-size: 20px !important; }
    .carousel-caption-custom .banner-img-sec {
      text-align: center; }
      .carousel-caption-custom .banner-img-sec img {
        max-width: 100%; }

  /*header section*/
  header.site-header .site-branding .logo-section, header.site-header .site-branding .logo-section.wt-shadow {
    margin-top: 15px;
    padding: 9px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  header.site-header nav.main-navigation button.menu-toggle {
    margin-top: 10px;
    margin-bottom: 4px; }
  header.site-header nav.main-navigation .menu-primary-menu-container {
    top: 59px; }

  /* /header section */
  .recent-books-wrapper .butler-books .ft-book-img {
    max-height: initial;
    overflow: initial; }
  .recent-books-wrapper .butler-books .butler-book-title h2 {
    max-height: initial;
    overflow: initial;
    white-space: initial;
    text-wrap: initial; }

  /*search banner section and introduction section*/
  .search-banner-section-n-intro-section {
    /*search banner section*/
    /*about us section*/ }
    .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom {
      /*production description section*/ }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .carousel-caption-custom .production-description .book-title {
        font-size: 22px important; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links > span {
      margin-bottom: 10px; }
    .search-banner-section-n-intro-section .about-us-section .about-description .about-title {
      font-size: 28px; }
    .search-banner-section-n-intro-section .about-us-section .about-description .about-content {
      max-height: 192px; }

  /* /search banner section and introduction section */
  /*Recent books wrapper*/
  .recent-books-wrapper .recent-books-title h1 {
    font-size: 18px;
    padding: 10px; }
  .recent-books-wrapper .recent-books-title .view-all-books a {
    margin-top: 6px; }

  /* /Recent books wrapper */
  /*----------------------------------------------------
  INNER PAGE STYLING
  -------------------------------------------------------*/
  /*product listing page*/
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 100%; }

  /*product listing page*/ }

/*# sourceMappingURL=layout.css.map */
