@charset "UTF-8";
/*browser resetting*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: lato; }

ul, ol {
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

/*browser resetting end*/
/*for boxshadow*/
/*transform*/
/*common modules home and inner page*/
/*browse-categories section*/
.browse-categories h3 {
  position: relative;
  background-color: #eb5c01;
  margin: 0px;
  color: #fff;
  padding: 12px 13px;
  font-size: 19px;
  font-weight: 300; }
  .browse-categories h3:before {
    content: "\f0c9";
    font: normal normal normal 22px/1 FontAwesome;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px; }
  .browse-categories h3:after {
    content: "\f0d8";
    font: normal normal normal 22px/1 FontAwesome;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: -7px; }
.browse-categories .browse-by-categories > ul {
  background-color: #fff;
  padding: 5px;
  display: block;
  max-height: 390px;
  overflow-y: scroll; }
  .browse-categories .browse-by-categories > ul > li {
    list-style: none; }
    .browse-categories .browse-by-categories > ul > li > a {
      display: block;
      background-color: #ddd;
      padding: 7px 10px;
      padding-left: 30px;
      font-size: 15px;
      font-weight: 300;
      border-bottom: 1px solid #fff;
      position: relative; }
      .browse-categories .browse-by-categories > ul > li > a:hover {
        background-color: #eb5c01;
        color: #fff; }
      .browse-categories .browse-by-categories > ul > li > a:before {
        position: absolute;
        content: "\f105";
        font: normal normal normal 22px/1 FontAwesome;
        color: #696969;
        left: 14px;
        top: 5px; }
    .browse-categories .browse-by-categories > ul > li a:hover:before {
      color: #fff; }
    .browse-categories .browse-by-categories > ul > li ul {
      background: #B3AEAD;
      padding-left: 35px; }
      .browse-categories .browse-by-categories > ul > li ul li {
        list-style: none; }
        .browse-categories .browse-by-categories > ul > li ul li a {
          display: block;
          padding: 4px 5px;
          color: #4A4A4A;
          text-transform: capitalize;
          position: relative; }
          .browse-categories .browse-by-categories > ul > li ul li a:before {
            position: absolute;
            content: "\f105";
            font: normal normal normal 14px/1 FontAwesome;
            color: #fff;
            left: -10px;
            top: 5px; }
          .browse-categories .browse-by-categories > ul > li ul li a:hover {
            text-decoration: underline; }
  .browse-categories .browse-by-categories > ul li:last-child a {
    border-bottom: none; }

/* /browse-categories section */
/*newsletter module block*/
.brb-newsletter {
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  border-right: 1px solid #334DAD;
  -webkit-box-shadow: 1px 0px 0px 0px #0F226B;
  -moz-box-shadow: 1px 0px 0px 0px #0F226B;
  -o-box-shadow: 1px 0px 0px 0px #0F226B;
  box-shadow: 1px 0px 0px 0px #0F226B; }
  .brb-newsletter h3 {
    float: left;
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    margin-right: 15px;
    position: relative;
    margin-left: 38px;
    margin-top: 6px; }
    .brb-newsletter h3:before {
      content: "\f003";
      position: absolute;
      left: -35px;
      font: normal normal normal 26px/1 FontAwesome;
      top: -3px; }
  .brb-newsletter .wpcf7 {
    float: left; }
    .brb-newsletter .wpcf7 form {
      position: relative; }
      .brb-newsletter .wpcf7 form p {
        float: left;
        margin-bottom: 0px; }
        .brb-newsletter .wpcf7 form p input[type="email"] {
          padding: 7px;
          background-color: rgba(255, 255, 255, 0.84);
          border: none;
          color: #000;
          width: 395px; }
        .brb-newsletter .wpcf7 form p input[type="submit"] {
          border: none;
          padding: 4.7px 13px;
          font-size: 18px;
          background: #3155ba; }
      .brb-newsletter .wpcf7 form .wpcf7-response-output {
        display: block;
        position: absolute;
        top: 30px;
        left: -11px; }

/*newsletter module block*/
/*Top header section style*/
header.site-header {
  background-color: #09258a;
  /* logo section */
  /*  /end logo section */
  /*navigation menu*/
  /* / navigation menu */ }
  header.site-header .site-branding {
    position: relative;
    width: 100%;
    background: #fff; }
    header.site-header .site-branding .logo-section {
      position: absolute;
      -webkit-box-shadow: 0px 4px 7px 0px #0F0F19;
      -moz-box-shadow: 0px 4px 7px 0px #0F0F19;
      -o-box-shadow: 0px 4px 7px 0px #0F0F19;
      box-shadow: 0px 4px 7px 0px #0F0F19; }
  header.site-header nav.main-navigation {
    /*menu-primary-menu-container*/
    /*menu-primary-menu-container*/ }
    header.site-header nav.main-navigation button.menu-toggle {
      display: none; }
    header.site-header nav.main-navigation .menu-primary-menu-container:before, header.site-header nav.main-navigation .menu-primary-menu-container:after {
      content: " ";
      display: table; }
    header.site-header nav.main-navigation .menu-primary-menu-container:after {
      clear: both; }
    header.site-header nav.main-navigation .menu-primary-menu-container ul.menu {
      float: right; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:before, header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:after {
        content: " ";
        display: table; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu:after {
        clear: both; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li {
        list-style: none; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li {
        position: relative;
        float: left; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu > li > a {
          color: #fff;
          font-size: 17px;
          font-weight: 300;
          padding: 35px 20px;
          display: inline-block;
          -webkit-transition: background-color 0.5s linear 0s;
          -moz-transition: background-color 0.5s linear 0s;
          -o-transition: background-color 0.5s linear 0s;
          transition: background-color 0.5s linear 0s; }
      header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav {
        border: 1px solid #fff;
        margin-top: 30px;
        margin-left: 10px;
        position: relative; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav > a {
          position: relative;
          padding: 4px 10px;
          padding-right: 30px;
          position: relative; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav > a:before {
            content: "\f103";
            position: absolute;
            top: 9px;
            right: 10px;
            color: #fff;
            font: normal normal normal 16px/1 FontAwesome; }
        header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul {
          position: absolute;
          background-color: #CACACA;
          width: 200px;
          right: -2px;
          top: 62px;
          z-index: 1;
          display: none; }
          header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul li a {
            display: block;
            padding: 5px 10px;
            color: #09258A;
            -webkit-transition: all 0.2s linear 0s;
            -moz-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s; }
            header.site-header nav.main-navigation .menu-primary-menu-container ul.menu li.more-nav ul li a:hover {
              background-color: #09258a;
              color: #fff; }

/* End Top header section style*/
/* SEARCH BANNER SECTION AND INTRO SECTION */
.search-banner-section-n-intro-section {
  background-color: #0b0b28;
  padding: 40px 0 60px;
  background-image: url(../images/banner-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*search banner section*/
  /*search banner section*/
  /*Newsletter and social links*/
  /* /ewsletter and social links */
  /*about us section*/
  /* /about us section*/ }
  .search-banner-section-n-intro-section .search-banner-section {
    /*search and abnner section*/
    /* /search and abnner section*/ }
    .search-banner-section-n-intro-section .search-banner-section:before, .search-banner-section-n-intro-section .search-banner-section:after {
      content: " ";
      display: table; }
    .search-banner-section-n-intro-section .search-banner-section:after {
      clear: both; }
    .search-banner-section-n-intro-section .search-banner-section .search-section {
      margin-left: -30px;
      background: #fff;
      padding: 5px 5px 5px 15px; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:before, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:after {
        content: " ";
        display: table; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories:after {
        clear: both; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search, .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form {
        float: left; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search {
        position: relative;
        cursor: pointer; }
        .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          border: 1px solid #dcdcdc;
          z-index: 9;
          border-radius: 50%;
          right: -10px;
          background-color: #fff;
          top: 11px; }
        .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search:after {
          content: "";
          position: absolute;
          right: -5px;
          top: 19px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 7px solid #09258a;
          z-index: 11; }
        .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search select {
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          -o-appearance: none;
          appearance: none;
          padding: 8.2px 5px;
          border: 1px solid #ddd;
          width: 140px;
          border-right: none;
          height: 41.5px;
          margin-top: 0.5px; }
          .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .select-category-search select:focus {
            outline: none; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"] {
        height: 41px;
        padding: 9px 15px;
        border: 1px solid #ddd;
        width: 580px;
        margin-right: 5px; }
        .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="search"]:focus {
          outline: none; }
      .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="submit"] {
        height: 41px;
        border: none;
        background: #00239d;
        padding: 7.8px 40px;
        font-size: 17px;
        color: #fff;
        font-weight: 300; }
        .search-banner-section-n-intro-section .search-banner-section .search-section .search-by-categories .brb-search-cat-form input[type="submit"]:focus {
          outline: none; }
    .search-banner-section-n-intro-section .search-banner-section .banner-section {
      margin-top: 15px;
      margin-left: -15px; }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel ol.carousel-indicators li.active {
        border: 1px solid transparent;
        background-color: #b7b924; }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom {
        padding: 40px 0px 53px 75px; }
        .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description {
          color: #fff; }
          .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description .book-title {
            font-size: 30px;
            color: #fff800;
            margin-bottom: 20px;
            text-transform: uppercase; }
          .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description .book-price {
            font-size: 33px;
            font-weight: 300;
            margin-bottom: 10px; }
          .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description .book-author {
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px; }
          .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description .get-book a {
            display: inline-block;
            padding: 5px 5px;
            border: 1px solid #fff;
            letter-spacing: 0px;
            text-align: center;
            width: 140px;
            -webkit-transition: border 0.3s, letter-spacing 0.5s;
            -moz-transition: border 0.3s, letter-spacing 0.5s;
            -o-transition: border 0.3s, letter-spacing 0.5s;
            transition: border 0.3s, letter-spacing 0.5s; }
            .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-inner .item .carousel-caption-custom .production-description .get-book a:hover {
              border: 1px solid transparent;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              letter-spacing: 2px; }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-control {
        width: 10%; }
        .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .carousel-control span.glyphicon {
          position: absolute;
          top: 40%;
          left: 25%; }
      .search-banner-section-n-intro-section .search-banner-section .banner-section .carousel .right.carousel-control span.glyphicon {
        right: 25%; }
  .search-banner-section-n-intro-section .newsletter-n-social-links {
    background-color: #192f80;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 55px; }
    .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links {
      padding: 6px; }
      .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links:before, .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links:after {
        content: " ";
        display: table; }
      .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links:after {
        clear: both; }
      .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links span {
        font-size: 16px;
        font-weight: 300;
        margin-top: 3px;
        display: inline-block;
        margin-right: 7px; }
      .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul {
        float: right; }
        .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li {
          list-style: none;
          float: left;
          margin-right: 7px; }
          .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li a {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #4f73bf;
            font-size: 20px;
            text-align: center;
            line-height: 29px;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            transition: 0.3s all; }
            .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li a:hover {
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -o-transform: scale(1.1);
              transform: scale(1.1); }
          .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li:nth-child(2) a {
            background-color: #32c2f9; }
          .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li:nth-child(3) a {
            background-color: #e85f45; }
          .search-banner-section-n-intro-section .newsletter-n-social-links .brb-social-links ul li:nth-child(4) a {
            background-color: #1883bb; }
  .search-banner-section-n-intro-section .about-us-section {
    /*about-image*/
    /* /about-image*/ }
    .search-banner-section-n-intro-section .about-us-section .about-img {
      background: #fff;
      padding: 15px; }
      .search-banner-section-n-intro-section .about-us-section .about-img img {
        width: 100%; }
    .search-banner-section-n-intro-section .about-us-section .about-description {
      color: #fff; }
      .search-banner-section-n-intro-section .about-us-section .about-description .about-title {
        font-size: 44px;
        line-height: 32px;
        margin-bottom: 45px; }
      .search-banner-section-n-intro-section .about-us-section .about-description .about-content {
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 300;
        max-height: 197px;
        overflow: hidden; }
      .search-banner-section-n-intro-section .about-us-section .about-description .brb-more a {
        float: left;
        background: #09258a;
        padding: 10px 10px;
        width: 90px;
        text-align: center;
        font-size: 17px;
        font-weight: 300;
        border: 1px solid transparent;
        -webkit-transition: border 0.3s, letter-spacing 0.5s;
        -moz-transition: border 0.3s, letter-spacing 0.5s;
        -o-transition: border 0.3s, letter-spacing 0.5s;
        transition: border 0.3s, letter-spacing 0.5s; }
        .search-banner-section-n-intro-section .about-us-section .about-description .brb-more a:hover {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          background: transparent;
          letter-spacing: 2px; }

/* /SEARCH BANNER SECTION AND INTRO SECTION */
/*FEATURE BOOK SECTION*/
.featured-books-wrapper {
  background-color: #994916;
  color: #fff;
  padding-bottom: 45px;
  background-image: url(../images/back-image.png);
  background-repeat: no-repeat;
  background-position: 4px 17px;
  /*feature-book-title*/
  /*feature-book-title*/ }
  .featured-books-wrapper .featured-book-titl h1 {
    margin: 0px;
    background: #253c8c;
    display: inline-block;
    font-size: 28px;
    padding: 10px 25px;
    font-weight: 300;
    margin-top: -21px; }
  .featured-books-wrapper .feature-slider-wrapper-section {
    position: relative; }
    .featured-books-wrapper .feature-slider-wrapper-section .button {
      position: absolute;
      top: 50%;
      cursor: pointer; }
    .featured-books-wrapper .feature-slider-wrapper-section #pre {
      left: -50px; }
    .featured-books-wrapper .feature-slider-wrapper-section #next {
      right: -50px; }
    .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper {
      margin-top: 65px; }
      .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper:before, .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper:after {
        content: " ";
        display: table; }
      .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper:after {
        clear: both; }
      .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books {
        background: #fff;
        color: #000;
        padding: 20px; }
        .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books:before, .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books:after {
          content: " ";
          display: table; }
        .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books:after {
          clear: both; }
        .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description {
          float: left;
          width: 60%;
          padding-right: 20px; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-title h2 {
            margin-top: 0px;
            font-size: 24px;
            color: #353535;
            font-weight: 300;
            margin-bottom: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 30px;
            overflow: hidden; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-price:before, .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-price:after {
            content: " ";
            display: table; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-price:after {
            clear: both; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-price h3 {
            margin: 0px;
            font-size: 26px;
            color: #e77934;
            margin-bottom: 15px; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-info {
            margin-bottom: 10px;
            color: #4f4f4f; }
            .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-info * {
              font-size: 15px; }
            .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .ft-book-info span {
              font-weight: bold;
              color: #000; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .short-dec {
            color: #575757;
            font-size: 15px;
            max-height: 63px;
            overflow: hidden; }
            .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .short-dec p {
              color: inherit;
              font-size: inherit; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .description .brb-more a {
            color: #253c8c;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
            display: inline-block; }
        .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .ft-book-img {
          width: 40%;
          float: left;
          max-height: 250px;
          overflow: hidden; }
          .featured-books-wrapper .feature-slider-wrapper-section .feature-slider-wrapper .featured-books .ft-book-img img {
            width: 100%;
            height: auto; }

/*feature book section*/
/*Recent book section*/
.recent-books-wrapper {
  background-color: #050524;
  color: #fff;
  padding: 45px 0px 20px; }
  .recent-books-wrapper .recent-books-title h1 {
    margin: 0px; }
  .recent-books-wrapper .butler-books {
    padding: 15px;
    background-color: #e6e6ea;
    color: #000;
    margin-bottom: 30px; }
    .recent-books-wrapper .butler-books .ft-book-img {
      max-height: 270px;
      overflow: hidden; }
      .recent-books-wrapper .butler-books .ft-book-img img {
        width: 100%;
        height: auto; }
    .recent-books-wrapper .butler-books .butler-book-title h2 {
      font-size: 20px;
      font-weight: 300;
      color: #353535;
      margin: 0px;
      margin-top: 20px;
      max-height: 25px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

/*Recent book section*/
.recent-books-wrapper .recent-books-title {
  border-bottom: 1px solid #253c8c;
  margin-bottom: 45px; }
  .recent-books-wrapper .recent-books-title:before, .recent-books-wrapper .recent-books-title:after {
    content: " ";
    display: table; }
  .recent-books-wrapper .recent-books-title:after {
    clear: both; }
  .recent-books-wrapper .recent-books-title h1 {
    margin: 0px;
    background: #253c8c;
    display: inline-block;
    font-size: 28px;
    padding: 10px 25px;
    font-weight: 300;
    float: left; }
  .recent-books-wrapper .recent-books-title .view-all-books {
    float: right; }
    .recent-books-wrapper .recent-books-title .view-all-books a {
      font-size: 17px;
      font-weight: 300;
      color: #B1B1B1;
      margin-top: 14px;
      display: inline-block; }
.recent-books-wrapper .butler-books .butler-book-price {
  margin: 15px 0px 10px; }
  .recent-books-wrapper .butler-books .butler-book-price h3 {
    margin: 0px;
    color: #e77934;
    font-weight: 300; }
.recent-books-wrapper .butler-books .ft-book-info {
  color: #4f4f4f;
  font-size: 15px;
  margin-bottom: 10px; }
  .recent-books-wrapper .butler-books .ft-book-info span {
    color: #000;
    font-weight: bold; }
.recent-books-wrapper .butler-books .brb-more a {
  color: #253c8c;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block; }

/*FOOTER SECTION START*/
footer#colophon {
  background-color: #151515;
  color: #999999;
  font-weight: 300;
  padding: 15px 0;
  /* phone no and email address */
  /* /phone no and email address */
  /*for copyright*/
  /* /for copyright */ }
  footer#colophon .phone-no-n-email-address .phone-no, footer#colophon .phone-no-n-email-address .email-address {
    display: inline-block; }
    footer#colophon .phone-no-n-email-address .phone-no i, footer#colophon .phone-no-n-email-address .email-address i {
      font-size: 20px;
      position: relative;
      top: 4px;
      margin-right: 7px; }
  footer#colophon .phone-no-n-email-address .email-address i {
    top: 2px; }
  footer#colophon .phone-no-n-email-address .phone-no {
    margin-right: 20px; }
  footer#colophon .site-info {
    float: right; }

/*end footer section style*/
/* -------------- INNER PAGE COMMON STYLE --------------- */
/*For breadcrumb*/
.browse-categories.inner ul {
  padding: 0px; }

.woocommerce-info {
  border-top: none !important; }

/*product zoom magnifier*/
.yith_magnifier_zoom_magnifier {
  border: none !important; }

.woocommerce-ordering {
  position: relative;
  width: 100%;
  margin-top: 25px !important; }
  .woocommerce-ordering:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #dcdcdc;
    z-index: 5;
    border-radius: 50%;
    right: 5px;
    background-color: #fff;
    top: 11px; }
  .woocommerce-ordering:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 19px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #09258a;
    z-index: 5; }
  .woocommerce-ordering select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 8.2px 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 41.5px;
    margin-top: 0.5px;
    padding-right: 28px;
    background: transparent;
    position: relative;
    z-index: 10; }
    .woocommerce-ordering select:focus {
      outline: none; }

/*for filter*/
.brb-price-filter {
  margin-bottom: 25px; }
  .brb-price-filter section h2 {
    margin: 0px;
    position: relative;
    background-color: #09258A;
    color: #fff;
    padding: 12px 13px;
    font-size: 19px;
    font-weight: 300; }
  .brb-price-filter section form {
    background: #DDD;
    padding: 20px 12px; }
    .brb-price-filter section form button[type="submit"] {
      background-color: #09258A;
      border-radius: 0px;
      color: #fff;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      -moz-transition: 0.3s all;
      transition: 0.3s all; }
      .brb-price-filter section form button[type="submit"]:hover {
        background-color: #1E3FB9;
        color: #fff; }

/*inner pages main title*/
h1.page-title {
  font-size: 35px;
  color: #09258A;
  margin-top: 0px;
  margin-bottom: 10px; }

/*product result count on list product page*/
p.woocommerce-result-count {
  color: #9A9898; }

/*product listing style*/
.woocommerce ul.products li.product {
  background-color: #F9F9F9;
  box-shadow: 0px 0px 1px 1px #F3F3F3;
  border: 1px solid #E8E8E8; }
  .woocommerce ul.products li.product a {
    display: block; }
    .woocommerce ul.products li.product a .brb-product-details .book-author {
      background: #E8E8E8;
      padding: 5px 12px;
      margin-bottom: 8px;
      color: #524D4D;
      box-shadow: 1px -4px 2px -2px rgba(132, 129, 129, 0.55) inset; }
    .woocommerce ul.products li.product a .brb-product-details h3 {
      font-size: 16px;
      padding: 0px 10px;
      margin-bottom: 15px;
      color: #3C3B3B; }
    .woocommerce ul.products li.product a .brb-product-details .price {
      float: right;
      text-align: right;
      padding: 0px 10px 10px; }
      .woocommerce ul.products li.product a .brb-product-details .price span.amount {
        font-size: 18px;
        color: #e77934;
        font-weight: 300; }

/*related product in single product styling*/
.related.products h2 {
  margin: 0px;
  background: #354FA9;
  display: inline-block;
  font-size: 22px;
  padding: 10px 25px;
  font-weight: 300;
  float: left;
  color: #fff; }
.related.products > ul {
  border-top: 1px solid #DADADA;
  background-color: #F3F3F3;
  padding: 0px 15px;
  padding-top: 30px; }
  .related.products > ul li a img {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 0px; }
  .related.products > ul li a h3 {
    padding: 0 !important;
    font-size: 16px !important;
    font-weight: normal;
    color: #354FA9;
    margin-bottom: 5px !important; }
  .related.products > ul li .price span.amount {
    font-size: 20px;
    color: #FF6300; }

/*email to friend button styling*/
.brb_email_to_friend a {
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  background-color: #FF6300;
  padding-left: 35px;
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .brb_email_to_friend a:after {
    content: "\f007";
    font: normal normal normal 22px/1 FontAwesome;
    position: absolute;
    top: 10px;
    left: 10px; }

/* ------------------------------------- 
          INNER PAGES COMMON BLOCK
--------------------------------------- */
/*logo shadow*/
header.site-header .site-branding .logo-section.wt-shadow {
  -webkit-box-shadow: 0px 4px 7px 0px #B3B3B3;
  -moz-box-shadow: 0px 4px 7px 0px #B3B3B3;
  -o-box-shadow: 0px 4px 7px 0px #B3B3B3;
  box-shadow: 0px 4px 7px 0px #B3B3B3; }

/*search page title border*/
.page-header {
  border-bottom: 3px solid #D4D1D1;
  margin-bottom: 40px; }

/*product list title border*/
.brb-sort-title {
  border-bottom: 3px solid #D4D1D1;
  margin-bottom: 30px; }

/*module popup*/
.common-form form input, .common-form form textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #E8E7E7;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }
  .common-form form input:focus, .common-form form textarea:focus {
    outline: none; }
.common-form form textarea {
  height: 100px; }
.common-form form input[type='submit'] {
  width: initial;
  background-color: #337AB7;
  color: #fff;
  font-size: 17px;
  padding: 8px 35px;
  width: 150px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s; }
  .common-form form input[type='submit']:hover {
    letter-spacing: 1px; }

/*module popup*/
/*inner pages newsletter*/
.brb-newsletter.inner {
  background-color: #09258A;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px; }
  .brb-newsletter.inner .wpcf7 {
    float: initial; }
    .brb-newsletter.inner .wpcf7 form p {
      float: initial; }
      .brb-newsletter.inner .wpcf7 form p input[type="email"] {
        width: 100% !important;
        margin: 15px 0px 10px !important; }
    .brb-newsletter.inner .wpcf7 form .wpcf7-response-output {
      display: none !important; }
    .brb-newsletter.inner .wpcf7 form span.wpcf7-not-valid-tip {
      margin-bottom: 5px; }

/*breadcrum styling*/
.brb_woo_breadcrumb_wrapper {
  background-color: #ddd;
  padding: 15px 0px;
  margin-bottom: 30px; }
  .brb_woo_breadcrumb_wrapper .woocommerce-breadcrumb {
    margin-bottom: 0px;
    float: right;
    color: #424242; }
    .brb_woo_breadcrumb_wrapper .woocommerce-breadcrumb a {
      color: #4765D2; }

/*woocomerce tabs for product detail*/
.woocommerce-tabs ul.tabs li {
  border-radius: 0px !important; }
  .woocommerce-tabs ul.tabs li:before {
    display: none; }
  .woocommerce-tabs ul.tabs li:after {
    display: none; }

/*woocomerce tabs for product detail*/
.woocommerce .wc-tab h2 {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #337AB7; }
.woocommerce .wc-tab #reviews #comments ol.commentlist li .comment-text {
  border-radius: 0px; }

/*for pagination style*/
.pagination {
  ΓÇéΓÇéΓÇéΓÇépadding: 20px 0px;
  ΓÇéΓÇéΓÇéΓÇéposition: relative;
  ΓÇéΓÇéΓÇéΓÇéfont-size: 11px;
  ΓÇéΓÇéΓÇéΓÇéline-height: 13px; }
  .pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #555; }
  .pagination a:hover {
    color: #fff;
    background: #3279BB; }
  .pagination .current {
    padding: 6px 9px 5px 9px;
    background: #3279BB;
    color: #fff; }

/* ------------------------------------- 
         COMMON INNER PAGE STYLE
--------------------------------------- */
.common-inner-page {
  margin-bottom: 30px;
  min-height: 600px;
  /*image wrapper style*/
  /*content description*/ }
  .common-inner-page .img-wrapper {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px;
    margin-bottom: 30px; }
    .common-inner-page .img-wrapper img {
      max-width: 100%; }
  .common-inner-page .content-description h1.entry-title {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 32px;
    color: #09258A; }
  .common-inner-page .content-description .entry-content p {
    font-size: 16px; }

/* common inner page style */
/* ------------------------------------- 
          SINGLE PRODUCT PAGE STYLE 
--------------------------------------- */
.single-product {
  /*IMAGE SECTION*/ }
  .single-product #container {
    margin-bottom: 30px; }
  .single-product .entry-summary > h1 {
    color: #09258A;
    font-size: 30px;
    margin-bottom: 15px; }
    .single-product .entry-summary > h1 + div p {
      font-size: 16px;
      color: #5A5A5A;
      margin-bottom: 0px; }
  .single-product .entry-summary p.price {
    font-size: 35px;
    font-weight: 400;
    margin: 10px 0px 15px; }
    .single-product .entry-summary p.price span {
      font-size: 35px;
      color: #e77934; }
  .single-product .entry-summary button.btn-enquiry {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .single-product .entry-summary button.btn-enquiry:hover {
      background-color: #15548A; }
  .single-product .entry-summary button.btn-primary {
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    background-color: #337ab7;
    padding-left: 40px;
    position: relative; }
    .single-product .entry-summary button.btn-primary:after {
      content: "\f059";
      font: normal normal normal 26px/1 FontAwesome;
      position: absolute;
      top: 8px;
      left: 10px; }
  .single-product .entry-summary .modal {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #E6E6E6; }
    .single-product .entry-summary .modal .modal-content {
      border-radius: 0px;
      position: relative; }
      .single-product .entry-summary .modal .modal-content .modal-header button {
        font-size: 24px; }
        .single-product .entry-summary .modal .modal-content .modal-header button span {
          font-size: 35px;
          color: white;
          padding: 5px 10px;
          background: red;
          position: absolute;
          right: -1px;
          top: 0px;
          line-height: 30px;
          padding-top: 1px;
          padding-bottom: 10px; }
      .single-product .entry-summary .modal .modal-content form input, .single-product .entry-summary .modal .modal-content form textarea {
        width: 100%;
        padding: 6px;
        border: 1px solid #E8E7E7;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s; }
        .single-product .entry-summary .modal .modal-content form input:focus, .single-product .entry-summary .modal .modal-content form textarea:focus {
          outline: none; }
      .single-product .entry-summary .modal .modal-content form textarea {
        height: 100px; }
      .single-product .entry-summary .modal .modal-content form input[type='submit'] {
        width: initial;
        background-color: #337AB7;
        color: #fff;
        font-size: 17px;
        padding: 8px 35px;
        width: 150px;
        font-weight: 300;
        text-transform: uppercase;
        -webkit-transition: all 0.5s linear 0s;
        -moz-transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
        transition: all 0.5s linear 0s; }
        .single-product .entry-summary .modal .modal-content form input[type='submit']:hover {
          letter-spacing: 1px; }
  .single-product .images .yith_magnifier_zoom_wrap {
    border: 1px solid #ddd; }
  .single-product .images .thumbnails {
    border: 1px solid #ddd;
    padding: 0px 10px 10px;
    border-top: none; }
    .single-product .images .thumbnails .caroufredsel_wrapper {
      height: 110px !important; }
      .single-product .images .thumbnails .caroufredsel_wrapper ul li {
        padding: 0px 10px; }
        .single-product .images .thumbnails .caroufredsel_wrapper ul li a {
          border-right: 1px solid #ddd;
          margin: 0px !important; }

/* single product page */
/* ------------------------------------- 
        SEARCH PAGE STYLE
--------------------------------------- */
.search-results .brb-ft-img {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px; }
  .search-results .brb-ft-img img {
    max-width: 100%; }
.search-results article.sigle-search {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px; }
.search-results .entry-header h2 {
  margin-top: 0px;
  margin-bottom: 15px; }
  .search-results .entry-header h2 a {
    display: inherit;
    font-size: 20px;
    color: #09258A; }

/*# sourceMappingURL=modules.css.map */
