/*browser resetting*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: lato; }

ul, ol {
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

/*browser resetting end*/

/*# sourceMappingURL=variable-n-browser-reset.css.map */
